NEXT_PUBLIC_SUPABASE_URL=https://igkhpmnztfptmjoygiyg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_QKITIdhxpd6rW7AtPz_8aA_PfSbNrYG
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
NEXT_PUBLIC_SITE_URL=http://thinksales.vercel.app
ANTHROPIC_API_KEY=your-anthropic-api-key
SITE_URL=http://thinksales.vercel.app
PLATFORM_SUPABASE_URL=https://opzfzdkwicclyhqgowap.supabase.co/rest/v1/
PLATFORM_SUPABASE_ANON_KEY=sb_publishable__IGtShS5awAhrlI5rIgzLw_GBXnExY8
PLATFORM_SUPABASE_SERVICE_ROLE_KEY=your-platform-service-role-key